---
title: 'Walkthroughs and Exercises for *Data Analysis in Python*'  
author: "Dr. Chester Ismay"  
format: html  
engine: knitr  
---

In [1]:
#| include: false
import pandas as pd

# Display all columns
pd.set_option('display.max_columns', None)

# Intro: Foundations of Data Analysis with Python

## Walkthrough #1: Setting Up the Python Environment

If you haven't already installed Python, Jupyter, and the necessary packages, there are instructions on the course repo in the README to do so [here](https://github.com/ismayc/oreilly-data-analysis-with-python/blob/main/README.md). 

If you aren't able to do this on your machine, you may want to check out [Google Colab](https://colab.research.google.com/). It's a free service that allows you to run Jupyter notebooks in the cloud.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# For plotly to load directly in Jupyter notebook
import plotly.offline as pyo
pyo.init_notebook_mode(connected=True)

## Exercise #1: Setting Up the Python Environment

By completing this exercise, you will be able to  
- Import necessary Python packages  
- Check for successful package loading  


Follow the instructions above in Walkthrough #1 to check for correct installation 
of necessary packages. We'll wait a few minutes to make sure as many of you are
set up as possible. Please give a thumbs up in the pulse check if you are ready
to move on.

---

# Module 1: Data Wrangling with Pandas

## Walkthrough #2: Loading and Inspecting Data with Pandas

### Import data from a CSV or from an Excel file

In [3]:
# Load the data from a CSV file
economies = pd.read_csv("economies.csv")

# Or load the data from an Excel file
# economies = pd.read_excel("economies.xlsx")

### Perform an initial exploration of the data

In [4]:
# Display the first few rows of the DataFrame
economies.head()

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.950,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.620,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.920,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income

In [5]:
# Display the information about the DataFrame
economies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               561 non-null    object
 1   country            561 non-null    object
 2   year               561 non-null    int64
 3   gdp_percapita      558 non-null    float64
 4   gross_savings      490 non-null    float64
 5   inflation_rate     555 non-null    float64
 6   total_investment   490 non-null    float64
 7   unemployment_rate  312 non-null    float64
 8   exports            509 non-null    float64
 9   imports            506 non-null    float64
 10  income_group       561 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 48.3+ KB

In [6]:
# Display summary statistics of the DataFrame
economies.describe()

,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports
count,561.000000,558.000000,490.000000,555.000000,490.000000,312.000000,509.000000,506.000000
mean,2015.000000,13447.838281,20.641665,9.762438,25.348976,8.894619,-0.844275,0.813121
std,4.086126,18481.107981,10.813159,103.013164,23.546022,5.605188,17.817279,15.644724
min,2010.000000,231.549000,-10.331000,-3.900000,0.521000,0.900000,-80.939000,-59.381000
25%,2010.000000,1842.815000,14.129000,0.731000,18.449250,5.252250,-8.528000,-8.253000
50%,2015.000000,5049.830000,20.536000,2.507000,22.808000,7.400000,1.000000,1.334000
75%,2020.000000,16509.697500,26.819750,5.406000,27.644750,10.772000,8.033000,9.348000
max,2020.000000,116921.110000,59.699000,2355.150000,363.411000,32.050000,159.103000,84.555000

In [7]:
# Check for missing data
economies.isnull().sum()

code                   0
country                0
year                   0
gdp_percapita          3
gross_savings         71
inflation_rate         6
total_investment      71
unemployment_rate    249
exports               52
imports               55
income_group           0
dtype: int64

In [8]:
# Check data types
economies.dtypes

code                  object
country               object
year                   int64
gdp_percapita        float64
gross_savings        float64
inflation_rate       float64
total_investment     float64
unemployment_rate    float64
exports              float64
imports              float64
income_group          object
dtype: object

## Exercise #2: Loading and Inspecting Data with Pandas

By completing this exercise, you will be able to use `pandas` to  
- Import data from a CSV or from an Excel file   
- Perform an initial exploration of the data

In [ ]:
# Load the populations data from an Excel file


# Inspection methods for populations DataFrame






# Checking for missing data and data types for populations DataFrame

## Walkthrough #3: Cleaning and Preparing Data with Pandas

### Handle missing data

#### Remove rows

In [9]:
# Remove rows with any missing values
economies_cleaned_any = economies.dropna(how='any')
economies_cleaned_any

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
9,ALB,Albania,2010,4097.83,20.023,3.615,31.318,14.000,10.473,-9.316,Upper middle income
10,ALB,Albania,2015,3953.61,15.804,1.868,26.237,17.100,5.272,0.076,Upper middle income
11,ALB,Albania,2020,5286.68,13.255,1.603,22.845,12.500,-28.951,-21.446,Upper middle income
15,ARG,Argentina,2010,10412.97,17.323,10.461,17.706,7.750,13.701,39.414,Upper middle income
17,ARG,Argentina,2020,8554.64,17.798,42.015,16.845,11.364,-13.124,-10.722,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...
541,VNM,Vietnam,2015,2582.39,26.444,0.631,27.339,2.330,9.713,15.426,Lower middle income
542,VNM,Vietnam,2020,3498.98,28.603,3.222,26.444,3.300,2.822,2.948,Lower middle income
552,ZAF,South Africa,2010,7311.74,18.012,4.264,19.513,24.875,7.718,10.794,Upper middle income
553,ZAF,South Africa,2015,5731.73,16.300,4.575,20.918,25.350,2.925,5.443,Upper middle income
554,ZAF,South Africa,2020,5067.15,14.602,3.268,12.426,29.175,-10.280,-16.615,Upper middle income

In [10]:
# Remove rows only if all values are missing
economies_cleaned_all = economies.dropna(how='all')
economies_cleaned_all

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.950,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.620,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.920,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
...,...,...,...,...,...,...,...,...,...,...,...
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income
558,ZWE,Zimbabwe,2010,975.851,NaN,3.045,NaN,NaN,NaN,NaN,Lower middle income
559,ZWE,Zimbabwe,2015,1425.010,NaN,-2.410,NaN,NaN,NaN,NaN,Lower middle income
560,ZWE,Zimbabwe,2020,1385.040,NaN,557.210,NaN,NaN,NaN,NaN,Lower middle income

In [11]:
# Remove rows with missing values in specific columns
economies.dropna(subset=['exports', 'imports'])

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
5,AFG,Afghanistan,2020,580.817,27.132,5.607,16.420,NaN,-10.424,2.892,Low income
6,AGO,Angola,2010,3641.440,34.833,14.480,28.197,NaN,-3.266,-21.656,Lower middle income
7,AGO,Angola,2015,4354.920,28.491,9.159,34.202,NaN,6.721,-19.515,Lower middle income
...,...,...,...,...,...,...,...,...,...,...,...
553,ZAF,South Africa,2015,5731.730,16.300,4.575,20.918,25.350,2.925,5.443,Upper middle income
554,ZAF,South Africa,2020,5067.150,14.602,3.268,12.426,29.175,-10.280,-16.615,Upper middle income
555,ZMB,Zambia,2010,1456.050,37.405,8.500,29.878,NaN,19.476,32.492,Lower middle income
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income

#### Remove columns

In [12]:
# Remove columns with any missing values
economies_no_missing_columns = economies.dropna(axis=1)

# Display the DataFrame after removing columns with missing values
economies_no_missing_columns

    code      country  year         income_group
0    ABW        Aruba  2010          High income
1    ABW        Aruba  2015          High income
2    ABW        Aruba  2020          High income
3    AFG  Afghanistan  2010           Low income
4    AFG  Afghanistan  2015           Low income
..   ...          ...   ...                  ...
556  ZMB       Zambia  2015  Lower middle income
557  ZMB       Zambia  2020  Lower middle income
558  ZWE     Zimbabwe  2010  Lower middle income
559  ZWE     Zimbabwe  2015  Lower middle income
560  ZWE     Zimbabwe  2020  Lower middle income

[561 rows x 4 columns]

In [13]:
economies

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.950,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.620,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.920,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
...,...,...,...,...,...,...,...,...,...,...,...
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income
558,ZWE,Zimbabwe,2010,975.851,NaN,3.045,NaN,NaN,NaN,NaN,Lower middle income
559,ZWE,Zimbabwe,2015,1425.010,NaN,-2.410,NaN,NaN,NaN,NaN,Lower middle income
560,ZWE,Zimbabwe,2020,1385.040,NaN,557.210,NaN,NaN,NaN,NaN,Lower middle income

#### Replace missing values with specific value

In [14]:
# Replace missing values with a specific value 
# (e.g., 0 for numerical columns, 'Unknown' for categorical columns)
economies_fill_value = economies.fillna({
    'gdp_percapita': 0,
    'gross_savings': 0,
    'inflation_rate': 0,
    'total_investment': 0,
    'unemployment_rate': 0,
    'exports': 0,
    'imports': 0,
    'income_group': 'Unknown'
})


# Display the DataFrame after replacing missing values 
# with specific values
economies_fill_value

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.950,13.255,2.078,0.000,10.600,0.000,0.000,High income
1,ABW,Aruba,2015,27126.620,21.411,0.475,0.000,7.298,0.000,0.000,High income
2,ABW,Aruba,2020,21832.920,-7.521,-1.338,0.000,13.997,0.000,0.000,High income
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,0.000,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,0.000,-11.585,15.309,Low income
...,...,...,...,...,...,...,...,...,...,...,...
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,0.000,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,0.000,1.143,2.635,Lower middle income
558,ZWE,Zimbabwe,2010,975.851,0.000,3.045,0.000,0.000,0.000,0.000,Lower middle income
559,ZWE,Zimbabwe,2015,1425.010,0.000,-2.410,0.000,0.000,0.000,0.000,Lower middle income
560,ZWE,Zimbabwe,2020,1385.040,0.000,557.210,0.000,0.000,0.000,0.000,Lower middle income

This can be extended to replace missing values with the mean, median, or mode of the column too, but that's beyond the scope of this course.

### Convert a column to a different data type

In [15]:
# Change year to be a string instead of an integer
economies_char_year = economies.astype({'year': 'str'})

# Display the information on the DataFrame with year as a string
economies_char_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               561 non-null    object
 1   country            561 non-null    object
 2   year               561 non-null    object
 3   gdp_percapita      558 non-null    float64
 4   gross_savings      490 non-null    float64
 5   inflation_rate     555 non-null    float64
 6   total_investment   490 non-null    float64
 7   unemployment_rate  312 non-null    float64
 8   exports            509 non-null    float64
 9   imports            506 non-null    float64
 10  income_group       561 non-null    object
dtypes: float64(7), object(4)
memory usage: 48.3+ KB

In [16]:
# Change the year of string type back to integer
economies_int_year = economies_char_year.astype({'year': 'int'})

# Display the information on the DataFrame with year as a string
economies_int_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               561 non-null    object
 1   country            561 non-null    object
 2   year               561 non-null    int64
 3   gdp_percapita      558 non-null    float64
 4   gross_savings      490 non-null    float64
 5   inflation_rate     555 non-null    float64
 6   total_investment   490 non-null    float64
 7   unemployment_rate  312 non-null    float64
 8   exports            509 non-null    float64
 9   imports            506 non-null    float64
 10  income_group       561 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 48.3+ KB

### Rename a column

In [19]:
# For getting information about a particular method
?economies.fillna

In [17]:
# Rename the 'income_group' column to 'income_category'
economies_renamed = economies.rename(columns={'income_group': 'income_category'})
economies_renamed

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_category
0,ABW,Aruba,2010,24087.950,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.620,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.920,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
...,...,...,...,...,...,...,...,...,...,...,...
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income
558,ZWE,Zimbabwe,2010,975.851,NaN,3.045,NaN,NaN,NaN,NaN,Lower middle income
559,ZWE,Zimbabwe,2015,1425.010,NaN,-2.410,NaN,NaN,NaN,NaN,Lower middle income
560,ZWE,Zimbabwe,2020,1385.040,NaN,557.210,NaN,NaN,NaN,NaN,Lower middle income

### Changing a DataFrame’s index

#### Set the index

In [22]:
# Set unique combinations of 'code' and 'year' as the index
economies_indexed = economies.set_index(['code', 'year'])
economies_indexed

               country  gdp_percapita  gross_savings  inflation_rate  \
code year
ABW  2010        Aruba      24087.950         13.255           2.078
     2015        Aruba      27126.620         21.411           0.475
     2020        Aruba      21832.920         -7.521          -1.338
AFG  2010  Afghanistan        631.490         59.699           2.179
     2015  Afghanistan        711.337         22.223          -0.662
...                ...            ...            ...             ...
ZMB  2015       Zambia       1310.460         40.103          10.107
     2020       Zambia        981.311         36.030          16.350
ZWE  2010     Zimbabwe        975.851            NaN           3.045
     2015     Zimbabwe       1425.010            NaN          -2.410
     2020     Zimbabwe       1385.040            NaN         557.210

           total_investment  unemployment_rate  exports  imports  \
code year
ABW  2010               NaN             10.600      NaN      NaN
     2015               NaN              7.298      NaN      NaN
     2020               NaN             13.997      NaN      NaN
AFG  2010            30.269                NaN    9.768   32.285
     2015            18.427                NaN  -11.585   15.309
...                     ...                ...      ...      ...
ZMB  2015            42.791                NaN  -11.407    0.696
     2020            34.514                NaN    1.143    2.635
ZWE  2010               NaN                NaN      NaN      NaN
     2015               NaN                NaN      NaN      NaN
     2020               NaN                NaN      NaN      NaN

                  income_group
code year
ABW  2010          High income
     2015          High income
     2020          High income
AFG  2010           Low income
     2015           Low income
...                        ...
ZMB  2015  Lower middle income
     2020  Lower middle income
ZWE  2010  Lower middle income
     2015  Lower middle income
     2020  Lower middle income

[561 rows x 9 columns]

#### Reset the index

In [23]:
# Reset the index
economies_reset = economies_indexed.reset_index()
economies_reset

,code,year,country,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,2010,Aruba,24087.950,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,2015,Aruba,27126.620,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,2020,Aruba,21832.920,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
3,AFG,2010,Afghanistan,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,2015,Afghanistan,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
...,...,...,...,...,...,...,...,...,...,...,...
556,ZMB,2015,Zambia,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,2020,Zambia,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income
558,ZWE,2010,Zimbabwe,975.851,NaN,3.045,NaN,NaN,NaN,NaN,Lower middle income
559,ZWE,2015,Zimbabwe,1425.010,NaN,-2.410,NaN,NaN,NaN,NaN,Lower middle income
560,ZWE,2020,Zimbabwe,1385.040,NaN,557.210,NaN,NaN,NaN,NaN,Lower middle income

### Filtering rows based on conditions

#### Conditions on a single column

In [25]:
# Filter rows where 'gdp_percapita' is greater than 20,000
economies_high_gdp = economies[economies['gdp_percapita'] > 20000]
economies_high_gdp

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.95,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.62,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.92,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
12,ARE,United Arab Emirates,2010,35064.26,31.330,0.878,27.121,NaN,7.540,0.405,High income
13,ARE,United Arab Emirates,2015,37380.57,30.540,4.070,25.639,NaN,3.055,2.488,High income
...,...,...,...,...,...,...,...,...,...,...,...
475,SWE,Sweden,2015,51274.28,27.743,0.704,24.429,7.400,4.995,5.031,High income
476,SWE,Sweden,2020,51796.38,29.755,0.657,24.518,8.292,-5.191,-5.358,High income
528,USA,United States,2010,48403.30,15.466,1.637,18.743,9.608,12.137,13.128,High income
529,USA,United States,2015,56848.51,20.141,0.121,21.163,5.275,0.421,5.175,High income
530,USA,United States,2020,63415.99,17.802,1.248,20.988,8.108,-12.970,-9.285,High income

In [27]:
# Filter rows where 'income_group' is 'High income'
economies_high_income = economies[economies['income_group'] == 'High income']
economies_high_income

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
0,ABW,Aruba,2010,24087.95,13.255,2.078,NaN,10.600,NaN,NaN,High income
1,ABW,Aruba,2015,27126.62,21.411,0.475,NaN,7.298,NaN,NaN,High income
2,ABW,Aruba,2020,21832.92,-7.521,-1.338,NaN,13.997,NaN,NaN,High income
12,ARE,United Arab Emirates,2010,35064.26,31.330,0.878,27.121,NaN,7.540,0.405,High income
13,ARE,United Arab Emirates,2015,37380.57,30.540,4.070,25.639,NaN,3.055,2.488,High income
...,...,...,...,...,...,...,...,...,...,...,...
526,URY,Uruguay,2015,16692.65,17.223,8.666,17.477,7.525,-7.564,-8.145,High income
527,URY,Uruguay,2020,15777.96,12.873,9.756,14.319,10.350,-28.231,-12.544,High income
528,USA,United States,2010,48403.30,15.466,1.637,18.743,9.608,12.137,13.128,High income
529,USA,United States,2015,56848.51,20.141,0.121,21.163,5.275,0.421,5.175,High income
530,USA,United States,2020,63415.99,17.802,1.248,20.988,8.108,-12.970,-9.285,High income

In [28]:
# Filter rows where total_investment is not NaN
economies[economies['total_investment'].notna()]

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
3,AFG,Afghanistan,2010,631.490,59.699,2.179,30.269,NaN,9.768,32.285,Low income
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
5,AFG,Afghanistan,2020,580.817,27.132,5.607,16.420,NaN,-10.424,2.892,Low income
6,AGO,Angola,2010,3641.440,34.833,14.480,28.197,NaN,-3.266,-21.656,Lower middle income
7,AGO,Angola,2015,4354.920,28.491,9.159,34.202,NaN,6.721,-19.515,Lower middle income
...,...,...,...,...,...,...,...,...,...,...,...
553,ZAF,South Africa,2015,5731.730,16.300,4.575,20.918,25.350,2.925,5.443,Upper middle income
554,ZAF,South Africa,2020,5067.150,14.602,3.268,12.426,29.175,-10.280,-16.615,Upper middle income
555,ZMB,Zambia,2010,1456.050,37.405,8.500,29.878,NaN,19.476,32.492,Lower middle income
556,ZMB,Zambia,2015,1310.460,40.103,10.107,42.791,NaN,-11.407,0.696,Lower middle income
557,ZMB,Zambia,2020,981.311,36.030,16.350,34.514,NaN,1.143,2.635,Lower middle income

#### Conditions on multiple columns

In [29]:
# Filter rows where inflation_rate is less than 0 and income_group is 'Low income'
economies[ (economies['inflation_rate'] < 0) & (economies['income_group'] == 'Low income') ]

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
4,AFG,Afghanistan,2015,711.337,22.223,-0.662,18.427,NaN,-11.585,15.309,Low income
42,BFA,Burkina Faso,2010,648.365,20.194,-0.608,21.990,NaN,54.547,13.986,Low income
486,TCD,Chad,2010,895.354,25.871,-2.110,34.388,NaN,-5.488,17.218,Low income

In [30]:
# Filter rows where gdp_percapita is greater than 40,000 and 
# year is less than or equal to 2016
economies[ (economies['gdp_percapita'] > 40000) & (economies['year'] <= 2016) ]

,code,country,year,gdp_percapita,gross_savings,inflation_rate,total_investment,unemployment_rate,exports,imports,income_group
24,AUS,Australia,2010,56459.80,23.105,2.863,26.369,5.208,5.717,15.507,High income
25,AUS,Australia,2015,51484.05,21.608,1.485,25.880,6.050,6.533,1.962,High income
27,AUT,Austria,2010,46955.17,25.463,1.693,22.608,4.817,13.131,11.970,High income
28,AUT,Austria,2015,44267.81,25.531,0.808,23.806,5.742,3.049,3.630,High income
36,BEL,Belgium,2010,44448.17,24.751,2.334,23.127,8.308,8.484,7.171,High income
37,BEL,Belgium,2015,41147.26,25.011,0.620,23.628,8.483,1.368,1.053,High income
87,CAN,Canada,2010,47627.35,19.918,1.777,23.482,8.075,6.678,13.788,High income
88,CAN,Canada,2015,43626.47,20.326,1.125,23.822,6.942,3.419,0.751,High income
90,CHE,Switzerland,2010,77433.67,39.762,0.688,25.178,3.516,12.184,8.003,High income
91,CHE,Switzerland,2015,85240.79,35.012,-1.142,24.747,3.178,3.972,4.561,High income
129,DEU,Germany,2010,42379.84,25.810,1.119,20.066,6.967,14.047,12.648,High income
130,DEU,Germany,2015,41107.22,28.344,0.680,19.743,4.633,4.878,5.361,High income
138,DNK,Denmark,2010,58177.16,24.639,2.198,18.076,7.733,2.940,0.541,High income
139,DNK,Denmark,2015,53478.50,28.876,0.226,20.631,6.283,3.577,4.561,High income
165,FIN,Finland,2010,46647.00,23.536,1.686,22.048,8.500,6.182,6.304,High income
166,FIN,Finland,2015,42867.09,20.748,-0.156,21.686,9.575,0.392,1.963,High income
171,FRA,France,2010,42178.58,21.317,1.737,21.946,9.250,8.695,8.893,High income
181,GBR,United Kingdom,2015,45053.49,12.697,0.040,17.720,5.375,2.799,5.412,High income
214,HKG,Hong Kong,2015,42325.35,24.859,2.995,21.541,3.307,-1.368,-1.776,High income
234,IRL,Ireland,2010,48758.01,16.023,-1.619,17.217,14.583,6.289,0.678,High income
235,IRL,Ireland,2015,61951.73,29.966,-0.050,25.576,9.950,38.212,32.303,High income
243,ISL,Iceland,2010,43293.02,7.814,5.400,13.909,8.317,0.954,2.319,High income
244,ISL,Iceland,2015,53227.63,25.034,1.634,19.404,4.500,8.948,13.542,High income
258,JPN,Japan,2010,45135.80,26.427,-0.721,22.590,5.058,24.861,11.285,High income
309,LUX,Luxembourg,2010,106177.04,23.984,2.795,17.885,5.808,10.373,12.172,High income
310,LUX,Luxembourg,2015,102625.13,24.394,0.060,19.324,6.626,4.701,3.399,High income
315,MAC,Macao,2010,51135.16,NaN,2.809,13.247,2.825,NaN,NaN,High income
316,MAC,Macao,2015,69666.75,NaN,4.561,25.330,1.825,NaN,NaN,High income
378,NLD,Netherlands,2010,51165.82,27.156,0.929,20.222,4.995,9.764,8.552,High income
379,NLD,Netherlands,2015,45302.80,28.774,0.216,22.475,6.891,7.444,14.883,High income
381,NOR,Norway,2010,87356.19,36.282,2.419,25.425,3.794,0.556,8.416,High income
382,NOR,Norway,2015,74115.16,35.521,2.171,27.476,4.531,4.342,1.935,High income
426,QAT,Qatar,2010,69796.14,48.177,-2.389,NaN,NaN,31.090,-1.425,High income
427,QAT,Qatar,2015,66346.96,45.569,0.939,NaN,NaN,-1.827,-9.173,High income
444,SGP,Singapore,2010,47236.67,50.592,2.824,27.658,2.175,17.788,16.307,High income
445,SGP,Singapore,2015,55645.61,44.046,-0.523,25.353,1.900,4.968,3.381,High income
456,SMR,San Marino,2010,60426.24,NaN,2.413,19.613,4.945,NaN,NaN,High income
457,SMR,San Marino,2015,43068.69,NaN,0.146,12.086,9.183,NaN,NaN,High income
474,SWE,Sweden,2010,52658.79,28.799,1.901,22.962,8.575,11.107,11.816,High income
475,SWE,Sweden,2015,51274.28,27.743,0.704,24.429,7.400,4.995,5.031,High income
528,USA,United States,2010,48403.30,15.466,1.637,18.743,9.608,12.137,13.128,High income
529,USA,United States,2015,56848.51,20.141,0.121,21.163,5.275,0.421,5.175,High income

## Exercise #3: Cleaning and Preparing Data with Pandas

By completing this exercise, you will be able to use `pandas` to  
- Handle missing data  
- Convert a column to a different data type   
- Rename a column  
- Change a DataFrame’s index  
- Filter a DataFrame  

### Handle Missing Data

#### Remove rows

In [ ]:
# Remove rows with any missing values

In [ ]:
# Remove rows only if all values are missing

In [ ]:
# Remove rows with missing values in specific columns (e.g., 'fertility_rate', 'life_expectancy')

#### Remove columns

In [ ]:
# Remove columns with any missing values

#### Replace missing values with specific value

In [ ]:
# Replace missing values with a specific value (e.g., 0 for numerical columns, 
# 'Unknown' for categorical columns)

### Convert a Column to a Different Data Type and Rename a Column

#### Convert a Column to a Different Data Type

In [ ]:
# Convert the 'year' column to string type

In [ ]:
# Convert it back to integer

#### Rename a Column

In [ ]:
# Rename the 'fertility_rate' column to 'fertility'

### Change a DataFrame’s Index and Filter a DataFrame

#### Change a DataFrame’s Index

In [ ]:
# Set the 'country_code' column as the index

#### Filter a DataFrame

In [ ]:
# Filter the DataFrame to include only rows where the 'continent' is 'Asia'

In [ ]:
# Filter the DataFrame to include only rows where the 'year' is 2020

In [ ]:
# Filter the DataFrame to include only rows where the 'fertility_rate' is greater than 2

## Walkthrough #4: Transforming and Aggregating Data with Pandas

### Grouping data

### Applying Functions

#### Applying a function element-wise with `map()`

In [ ]:
# Convert income_group to uppercase using map()

#### Applying a Function to Groups with `groupby()` and `agg()`

In [ ]:
# Calculate the median gdp_percapita and inflation_rate for each income_group

### Summary tables

In [ ]:
# Create a pivot table of gdp_percapita and inflation_rate by income_group and year

### Analyzing categorical data 

#### Using cross-tabulation

In [ ]:
# Show counts of income_group by year

#### By getting group counts

In [ ]:
# Count the occurrences of each income_group

## Exercise #4: Transforming and Aggregating Data with Pandas

By completing this exercise, you will be able to use `pandas` to
- Aggregate data effectively by grouping it  
- Transform data by applying functions element-wise or to groups  
- Create summary tables  
- Analyze categorical data using cross-tabulation and counts  


### Grouping Data

In [ ]:
# Group data by continent and calculate the mean life expectancy

### Applying Functions

#### Applying a function element-wise with `map()`

In [ ]:
# Convert continent to uppercase using map()

#### Applying a function to groups with `groupby()` and `agg()`

In [ ]:
# Calculate the median fertility rate and life expectancy for each continent

### Summary Tables

In [ ]:
# Create a pivot table of fertility rate and life expectancy by continent and year

### Analyzing Categorical Data

#### Using Cross-Tabulation

In [ ]:
# Create a cross-tabulation of continent and year

#### By Getting Group Counts

In [ ]:
# Count the occurrences of each region

---

# Module 2: Data Visualization Basics with Matplotlib and Seaborn

## Walkthrough #5: Creating Basic Plots with Matplotlib

### Line plot

In [ ]:
# Filter data for a specific country

### Bar chart

In [ ]:
# Filter data for Caribbean countries and the year 2020




# Bar chart of gdp_percapita for different Caribbean countries in 2020

### Adding labels and titles

In [ ]:
# Filter data for a specific country


# Line plot of gdp_percapita over the years with labels and titles

### Adjusting axes and tick marks

In [ ]:
# Bar chart of gdp_percapita for different Caribbean countries in 2020 with 
# adjusted axes and tick marks






# Adjust axes



# Adjust tick marks

## Exercise #5: Creating Basic Plots with Matplotlib

By completing this exercise, you will be able to use `matplotlib` to  
- Create line plots and bar charts  
- Add labels and titles  
- Adjust axes and tick marks  

### Line Plot

In [ ]:
# Filter data for India


# Line plot of fertility rate over the years

### Bar Chart

In [ ]:
# Filter data for selected Asian countries and the year 2020




# Bar chart of population size for selected Asian countries in 2020

### Adding Labels and Titles

In [ ]:
# Filter data for Nigeria


# Line plot of life expectancy over the years with labels and titles

### Adjusting Axes and Tick Marks

In [ ]:
# Filter data for selected African countries ('NGA', 'ETH', 'EGY', 'ZAF', 'DZA')
# and the year 2020


# Need to convert year back to an integer?




# Bar chart of fertility rate for selected African countries in 2020 with 
# adjusted axes and tick marks







# Adjust axes


# Adjust tick marks

## Walkthrough #6: Data Visualization Techniques with Seaborn

### Heatmap

In [ ]:
# Select only the numeric columns



# Calculate correlation matrix


# Create heatmap

### Pair plot

### Violin plot

### Customizing Seaborn plots

In [ ]:
# Bar plot with customization






# Customizing axes and tick marks

## Exercise #6: Data Visualization Techniques with Seaborn

By completing this exercise, you will be able to use `seaborn` to  
- Create heatmaps  
- Design pair plots and violin plots  
- Customize Seaborn plots  

### Heatmap

In [ ]:
# Select only the numeric columns



# Calculate correlation matrix


# Create heatmap

### Pair Plot

In [ ]:
# Pair plot of fertility rate, life expectancy, and population size

### Violin Plot

In [ ]:
# Violin plot of fertility rate by continent

### Customizing Seaborn Plots

In [ ]:
# Filter data for selected European countries ('DEU', 'FRA', 'ITA', 'ESP', 'GBR')
# and the year 2020



# Bar plot with customization






# Customizing axes and tick marks

---

# Module 3: Interactive Data Visualization with Plotly

## Walkthrough #7: Interactive Charts and Dashboards with Plotly

### Basic interactive chart

In [ ]:
# Filter data for a specific country


# Create an interactive line chart

### Adding interactive elements

In [ ]:
# Create an interactive scatter plot






# Add hover, zoom, and selection tools

### Designing a simple dashboard

In [ ]:
# Filter data for the year 2020


# Create a subplot figure with 1 row and 2 columns





# Line chart of GDP Per Capita for Afghanistan




# Bar chart of GDP Per Capita for different countries in 2020




# Update layout

## Exercise #7: Interactive Charts and Dashboards with Plotly

By completing this exercise, you will be able to use `plotly` to  
- Create a basic interactive chart  
- Add interactive elements: hover, zoom, and selection tools  
- Design a simple dashboard with multiple charts  

### Basic Interactive Chart

In [ ]:
# Filter data for a specific country (Brazil)

# Create an interactive line chart (Fertility Rate Over Years)

### Adding Interactive Elements

In [ ]:
# Create an interactive scatter plot




# Add hover, zoom, and selection tools

### Designing a Simple Dashboard

In [ ]:
# Filter data for the year 2020

# Create a subplot figure with 1 row and 2 columns



# Line chart of Life Expectancy for Brazil




# Bar chart of Life Expectancy for South American countries in 2020




# Update layout to add a title and hide the legend

## Walkthrough #8: Creating a Dynamic Data Report

### Selecting relevant data

In [ ]:
# Select relevant data for the year 2020 and specific columns
selected_data = economies[economies['year'] == 2020][['code', 'gdp_percapita', 'gross_savings', 'inflation_rate', 'income_group']]
selected_data.head()

### Building a dynamic report

In [ ]:
# Create a subplot figure with 3 rows
fig = make_subplots(rows=3, cols=1, 
                    subplot_titles=('GDP Per Capita vs. Gross Savings', 
                                    'GDP Per Capita by Country and Income Group', 
                                    'Gross Savings by Country and Income Group'))

# Add scatter plot
fig.add_trace(go.Scatter(x=selected_data['gdp_percapita'], y=selected_data['gross_savings'], 
                         mode='markers', 
                         marker=dict(color=selected_data['income_group'].astype('category').cat.codes), 
                         text=selected_data['code'], name='Scatter'), 
              row=1, col=1)

# Add bar chart
fig.add_trace(go.Bar(x=selected_data['code'], y=selected_data['gdp_percapita'], 
                     marker=dict(color=selected_data['income_group'].astype('category').cat.codes), name='Bar'), 
              row=2, col=1)

# Add another scatter plot
fig.add_trace(go.Scatter(x=selected_data['code'], y=selected_data['gross_savings'], 
                         mode='markers', 
                         marker=dict(color=selected_data['income_group'].astype('category').cat.codes), text=selected_data['code'], name='Scatter'), 
              row=3, col=1)

# Update layout
fig.update_layout(title_text='Dynamic Data Report for Economic Indicators (2020)', showlegend=False, height=900)

fig.show()

### Adding contextual text and summaries

In [ ]:
import plotly.io as pio
import plotly.graph_objects as go

# Create a subplot figure with 3 rows
fig = make_subplots(rows=3, cols=1, 
                    subplot_titles=('GDP Per Capita vs. Gross Savings', 
                                    'GDP Per Capita by Country and Income Group', 
                                    'Gross Savings by Country and Income Group'))

# Add scatter plot
fig.add_trace(go.Scatter(x=selected_data['gdp_percapita'], y=selected_data['gross_savings'], 
                         mode='markers', 
                         marker=dict(color=selected_data['income_group'].astype('category').cat.codes), 
                         text=selected_data['code'], name='Scatter'), 
              row=1, col=1)

# Add bar chart
fig.add_trace(go.Bar(x=selected_data['code'], y=selected_data['gdp_percapita'], 
                     marker=dict(color=selected_data['income_group'].astype('category').cat.codes), name='Bar'), 
              row=2, col=1)

# Add another scatter plot
fig.add_trace(go.Scatter(x=selected_data['code'], y=selected_data['gross_savings'], 
                         mode='markers', 
                         marker=dict(color=selected_data['income_group'].astype('category').cat.codes), 
                         text=selected_data['code'], name='Scatter'), 
              row=3, col=1)

# Update layout
fig.update_layout(
    title_text='Dynamic Data Report for Economic Indicators (2020)', 
    showlegend=False, 
    height=900,
    annotations=[
        go.layout.Annotation(
            text='''This report presents key economic indicators for various countries in 2020, categorized by income group. ''', 
            xref='paper', yref='paper', x=0.5, y=1, showarrow=False, font=dict(size=14)
        )
    ]
)

# Add summaries below each subplot
fig.add_annotation(text='The scatter plot reveals a positive correlation between GDP per Capita and Gross Savings, especially for high-income countries.', xref='paper', yref='paper', x=0, y=0.75, showarrow=False, font=dict(size=12))
fig.add_annotation(text='The bar chart shows that high-income countries generally have higher GDP per Capita compared to low-income countries.', xref='paper', yref='paper', x=0, y=0.30, showarrow=False, font=dict(size=12))
fig.add_annotation(text='The scatter plot indicates no clear relationship between income group and gross savings.', xref='paper', yref='paper', x=0, y=-0.1, showarrow=False, font=dict(size=12))

fig.show()

## Exercise #8: Creating a Dynamic Data Report

By completing this exercise, you will be able to use `pandas` and `plotly` to  
- Select relevant data  
- Build a dynamic report  
- Add contextual text and summaries  

### Selecting Relevant Data

In [ ]:
# Select relevant data for the year 2020 and specific columns (country_code, fertility_rate, life_expectancy, continent)

### Building a Dynamic Report

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Create a subplot figure with 3 rows and subplot titles





# Adding a scatter plot trace to the figure
# - x-axis: 'fertility_rate' from the selected population data
# - y-axis: 'life_expectancy' from the selected population data
# - mode: 'markers' to display points
# - marker color: based on the 'continent' category codes, to differentiate points by continent
# - text: 'country_code' to show country codes on hover
# - name: 'Scatter' to label this trace
# The trace is added to the first row and first column of the subplot grid





# Adding a bar chart trace to the figure
# - x-axis: 'country_code' from the selected population data
# - y-axis: 'fertility_rate' from the selected population data
# - marker color: based on the 'continent' category codes, to differentiate bars by continent
# - name: 'Bar' to label this trace
# The trace is added to the second row and first column of the subplot grid





# Adding a scatter plot trace to the figure
# - x-axis: 'country_code' from the selected population data
# - y-axis: 'life_expectancy' from the selected population data
# - mode: 'markers' to display points
# - marker color: based on the 'continent' category codes, to differentiate points by continent
# - name: 'Scatter' to label this trace
# The trace is added to the third row and first column of the subplot grid





# Update layout to include title, hide legend, and set height to 900

### Adding Contextual Text and Summaries

In [ ]:
# Copy over plot creation code from previous

# Updating the layout of the figure
# - Setting the title text of the entire figure
# - Disabling the legend display
# - Setting the height of the figure to 900 pixels
# - Adding an annotation to provide additional information about the report
#   - Annotation text: A brief description of the report content
#   - xref and yref: Setting the reference frame to 'paper' coordinates (relative to the entire figure)
#   - x and y: Positioning the annotation at the center top of the figure
#   - showarrow: Disabling the arrow for the annotation
#   - font: Setting the font size of the annotation text




# Add summaries below each subplot
fig.add_annotation(text='A negative correlation between Fertility Rate and Life Expectancy.', xref='paper', yref='paper', x=0, y=0.75, showarrow=False, font=dict(size=12))
fig.add_annotation(text='Fertility rates vary significantly across countries, with African countries generally exhibiting higher fertility rates.', xref='paper', yref='paper', x=0, y=0.30, showarrow=False, font=dict(size=12))
fig.add_annotation(text='Life expectancy varies across countries and continents, with European tending to have higher life expectancies.', xref='paper', yref='paper', x=0, y=-0.1, showarrow=False, font=dict(size=12))

fig.show()

---

# Module 4: Real-World Data Analysis Project

## Walkthrough #9: Interactive Charts and Dashboards with Plotly

### Selecting a Dataset

#### Questions to Ask:
1. **What industry problem or area of interest does the dataset align with?**
   - Is the dataset relevant to economic analysis, market research, policy planning, or another industry?
2. **Does the dataset provide sufficient complexity and scope for a thorough analysis?**
   - Does it include multiple variables and data points across different time periods and categories (e.g., income groups, countries)?
3. **What specific questions or hypotheses do we want to explore with this dataset?**
   - Are we interested in comparing economic indicators across countries, understanding the impact of GDP per capita on other variables, or identifying trends over time?

#### Example:
- **Dataset**: The `economies` dataset.
- **Industry Problem**: Understanding economic disparities between countries and the impact of economic indicators on overall economic health.
- **Specific Questions**:
  - How do GDP per capita and gross savings vary across different income groups?
  - How has the inflation rate changed over time for specified income groups?

### Applying Cleaning, Transforming, and Analysis Techniques

#### Questions to Ask:
1. **What cleaning steps are necessary to prepare the data for analysis?**
   - Are there any missing values that need to be handled? Are there any inconsistencies in data types?
2. **What transformations are required to make the data analysis-ready?**
   - Do we need to create new columns, filter specific rows, or aggregate data by certain categories?
3. **How can we analyze the data to uncover patterns, trends, or anomalies?**
   - What statistical methods or visualizations can we use to explore relationships between variables?

#### Example:
- **Cleaning**:

In [ ]:
  # Handle missing values
  economies_cleaned = economies.fillna({
      'gdp_percapita': economies['gdp_percapita'].mean(),
      'gross_savings': economies['gross_savings'].mean(),
      'inflation_rate': economies['inflation_rate'].mean(),
      'total_investment': economies['total_investment'].mean(),
      'unemployment_rate': economies['unemployment_rate'].mean(),
      'exports': economies['exports'].mean(),
      'imports': economies['imports'].mean()
  })

  # Convert categorical variables to category type
  economies_cleaned['income_group'] = economies_cleaned['income_group'].astype('category')
  economies_cleaned

- **Transforming**:

In [ ]:
  # Create new columns for analysis
  economies_cleaned['gdp_growth'] = economies_cleaned.groupby('code')['gdp_percapita'].pct_change()
  economies_cleaned

- **Analyzing**:

In [ ]:
  import seaborn as sns
  import matplotlib.pyplot as plt

  plt.clf()

  # Analyze the relationship between GDP per capita and gross savings
  sns.scatterplot(data=economies_cleaned, x='gdp_percapita', y='gross_savings', hue='income_group')
  plt.title('GDP Per Capita vs. Gross Savings by Income Group')
  plt.show()
  plt.clf()

  # Analyze the trend of inflation rate over time for all classified income groups
  classified_data = economies_cleaned[economies_cleaned['income_group'] != 'Not classified']
  sns.lineplot(data=classified_data, x='year', y='inflation_rate', 
               hue='income_group', errorbar=None)
  plt.title('Inflation Rate Over Time by Specified Income Group')
  plt.legend(title='Income Group', labels=classified_data['income_group'].unique())
  plt.show()

### Initial Findings and Interpretation

#### Questions to Ask:
1. **What do the initial findings tell us about the data?**
   - Are there any notable patterns or trends in the data? Are there any unexpected results?
2. **How do these insights relate to the problem defined earlier?**
   - Do the findings help us understand economic disparities between countries? Do they provide insights into the impact of certain economic indicators?
3. **What hypotheses can we test based on the initial results?**
   - Can we test hypotheses about the relationship between GDP per capita and other economic indicators? Can we refine our analysis to explore these hypotheses further?

#### Example:
- **Initial Findings**:
  - **GDP per Capita vs. Gross Savings**: The scatter plot shows that high-income countries generally have higher GDP per capita and gross savings. There seems to be a slight positive correlation between these two indicators.
  - **Inflation Rate Over Time**: The line plot indicates that inflation rates vary significantly over time and across different income groups. Low and lower middle income countries tend to experience higher volatility in inflation rates.

- **Interpretation**:
  - These findings suggest that economic health, as measured by GDP per capita and gross savings, is strongly influenced by the income group of a country. High-income countries appear to have more stable and higher economic performance.
  - The volatility in inflation rates among low-income countries may indicate economic instability, which could be a key area for policy intervention.

- **Hypotheses**:
  - **Hypothesis 1**: High-income countries have a higher average GDP per capita and gross savings compared to low-income countries.
  - **Hypothesis 2**: Low-income countries experience greater volatility in inflation rates compared to high-income countries.

- **Next Steps**:
  - Conduct further analysis to test these hypotheses, using statistical methods to confirm the observed patterns.
  - Explore other economic indicators to gain a more comprehensive understanding of economic disparities and trends.

By following these steps, you can effectively select, clean, transform, and analyze the `economies` dataset to gain valuable insights and address common industry problems or research questions.


## Walkthrough #10: Finalizing and Presenting Your Data Analysis Project

### Integrate Feedback to Refine the Analysis

#### Questions to Ask:
1. **What feedback have you received from peers, stakeholders, or mentors?**
   - Is there feedback on the clarity of the analysis, choice of visualizations, or the comprehensiveness of the analysis?
2. **How can you incorporate this feedback into your analysis?**
   - Are there additional variables that need to be analyzed? Do you need to clean the data further or adjust the visualizations?
3. **What new questions or hypotheses have emerged from the feedback?**
   - Does the feedback suggest new directions for the analysis or areas that need more focus?

#### Example:
- **Feedback**:
  - Peers suggested that the analysis should also consider the impact of unemployment rates.
  - Stakeholders requested more clarity on the relationship between GDP per capita and inflation rates across different income groups.

- **Refining the Analysis**:
  - Additional data needs to be found to meet the request for more clarity. Or maybe a further drilldown on specific countries would be helpful?
  
### Finalize the Presentation with Impactful Visuals and Narrative

#### Questions to Ask:
1. **What are the key insights from the analysis that need to be highlighted?**
   - What are the most important findings that should be communicated to the audience?
2. **How can you create impactful visuals that clearly convey these insights?**
   - What types of charts or visualizations best represent the data and findings?
3. **What narrative will you use to guide the audience through the presentation?**
   - How will you structure the presentation to tell a compelling story with the data?

#### Example:
- **Key Insights**:
  - High-income countries have higher GDP per capita and gross savings.
  - There is a positive correlation between GDP per capita and gross savings.
  - Low-income countries experience greater volatility in inflation rates.
  - Unemployment rates vary significantly across income groups.

- **Impactful Visuals**:

In [ ]:
  import plotly.express as px

  # Bar chart of GDP per Capita by Country and Income Group
  bar_fig = px.bar(economies_cleaned, x='code', y='gdp_percapita', color='income_group',
                   title='GDP Per Capita by Country and Income Group (2020)',
                   labels={'gdp_percapita': 'GDP Per Capita', 'code': 'Country Code'})
  bar_fig.show()

  # Scatter plot of GDP per Capita vs. Gross Savings by Income Group
  scatter_fig = px.scatter(economies_cleaned, x='gdp_percapita', y='gross_savings', color='income_group',
                           hover_name='code', title='GDP Per Capita vs. Gross Savings (2020)',
                           labels={'gdp_percapita': 'GDP Per Capita', 'gross_savings': 'Gross Savings (%)'})
  scatter_fig.show()

  # Scatter plot of GDP per Capita vs. Unemployment Rate by Income Group
  scatter_fig_2 = px.scatter(economies_cleaned, x='gdp_percapita', y='unemployment_rate', color='income_group',
                             hover_name='code', title='GDP Per Capita vs. Unemployment Rate (2020)',
                             labels={'gdp_percapita': 'GDP Per Capita', 'unemployment_rate': 'Unemployment Rate (%)'})
  scatter_fig_2.show()

- **Narrative**:
  - **Introduction**: Introduce the dataset and the industry problem. Explain why understanding economic indicators across different income groups is important.
  - **Key Findings**: Present the key findings using the visualizations created. Highlight the relationship between GDP per capita, gross savings, inflation rates, and unemployment rates.
  - **Detailed Analysis**: Dive deeper into each key finding, providing more context and interpretation. Explain the significance of the trends and patterns observed in the data.
  - **Conclusion**: Summarize the insights and discuss potential implications for policy or business decisions. Suggest areas for further research or analysis based on the findings.

### Rehearse the Presentation

#### Questions to Ask:
1. **How will you structure your presentation to ensure a smooth flow?**
   - What order will you present the visualizations and insights? How will you transition between different sections?
2. **How will you engage your audience and ensure they understand the key points?**
   - What techniques will you use to highlight important information and keep the audience's attention?
3. **What potential questions or feedback might you receive, and how will you address them?**
   - How will you prepare for questions about the data, analysis methods, or findings?

#### Example:
- **Structuring the Presentation**:
  - Start with an overview of the dataset and the industry problem.
  - Move on to the key findings, using the most impactful visualizations to illustrate each point.
  - Provide a detailed analysis of each finding, explaining the significance and implications.
  - Conclude with a summary of insights and suggestions for further research.

- **Engaging the Audience**:
  - Use clear and concise language to explain complex concepts.
  - Highlight key points using annotations or callouts on the visualizations.
  - Encourage questions and interaction to keep the audience engaged.

- **Preparing for Questions**:
  - Anticipate common questions about the data sources, cleaning methods, and analysis techniques.
  - Prepare explanations for any limitations of the data or analysis.
  - Be ready to discuss potential next steps and areas for further research based on the findings.

By following these steps, you can effectively integrate feedback, finalize your presentation with impactful visuals and narrative, and rehearse to ensure a smooth and engaging delivery.